{% extends "layout.html" %}
{% block body_content %}
	<div class='form_group'>
                <form method = 'POST' action''>
                        {{form.hidden_tag() }}
			<div class='form_group'>
			{{ form.comment.label }}
			{{ form.comment  }}
			{{ form.submit }}
			</div>
		</form>
	</div>
	<br>
	<div>
	{% for comment in comments %}
		<h4> Member Name </h4>
		<h3>{{ comment.Member_id.first_name  }} {{ comment.Member_id.last_name  }}</h3>
		<h4> Personality </h4>
		<p> {{ comment.Profile_ID.Personality }}</p>
		<h4> Desired_qualities </h4>
		<p> {{ comment.Profile_ID.Desired_qualities }}</p>
		<h4> Comment Made </h4>
		<p>{{ comment.comments  }}</p>
		<a href="{{ url_for('comment_delete_by_id', id=comment.id) }}">Delete Comment</a>
	{% endfor %}
	
	</div>
{% endblock %}

