{% extends "layout.html" %}
{% block body_content %}
        <p1> Welcome to my first web app </p1>
	{% for case in cases %}
	<div>
	<span>by<i>{{ case.Member_id.first_name }} {{case.Member_id.last_name }}</i></span>
	<span>on the <i>{{ case.date_posted }}</i></span>
	<p> -- {{ case.Animal_name_type }}</p>
	<p> {{ case.Animal_description }}</p>
	<form action="{{ url_for('comment', Case_ID=case.id ) }}">     
                <button type="submit">Add a comment</button>
        </form>
	</div>
	{% endfor %}
{% endblock %}

