{% extends "layout.html" %}
{% block body_content %}
	<div class='form'>
		<form method='POST' action=''>
			{{ form.hidden_tag() }}
                        {{ form.Personality.label }}
                        {{ form.Personality }}
			{% if form.Personality.errors %}
                                <div class="error">
                                        {% for error in form.Personality.errors %}
                                                <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                        {% endif %}
			<br>
                        {{ form.Desired_qualities.label }}
                        {{ form.Desired_qualities }}
			{% if form.Desired_qualities.errors %}
                                <div class="error">
                                        {% for error in form.Desired_qualities.errors %}
                                                <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                        {% endif %}
			<br>
                        {{ form.submit }}   
		</form>
	</div>
{% endblock %}


