{% extends "layout.html" %}
{% block body_content %}
	<div class='form'>
		<form method='POST' action=''>
			{{ form.hidden_tag() }}
                        {{ form.Animal_name_type.label }}
                        {{ form.Animal_name_type }}
			{% if form.Animal_name_type.errors %}
                                <div class="error">
                                        {% for error in form.Animal_name_typet.errors %}
                                                <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                        {% endif %}
			<br>
                        {{ form.description.label }}
                        {{ form.description }}
			{% if form.description.errors %}
                                <div class="error">
                                        {% for error in form.description.errors %}
                                                <span>{{ error }}</span>
                                        {% endfor %}
                                </div>
                        {% endif %}
			<br>
                        {{ form.submit }}   
		</form>
	</div>
{% endblock %}


